header {
    display: block;
    width: 100%;
    background-color: $primaryColor;

}

header nav{
    margin-left: auto;
    height: 3em;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav a {
    padding: 0 1.5vw 0 1.5vw;
    font-size: large;
    color: white;
    text-decoration: none;
}

main{
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: $secondaryColor;
}

#home {
    height: calc(80vh - 3em);
    padding-top: 20vh;
}

#projects {
    background-color: $tertiaryColor;
}

#certifications {
    background-color: $secondaryColor;
}

section {
    text-align: center;
}