.pagelinks {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 40px;
    margin: 5px;
    padding: 5px;
}

.pagelinks li{
    margin: 6px;
    padding: 6px;
    align-self: center;
    background-color: lightgray;
}

.pagelinks li:hover{
    background-color: whitesmoke;
}

.pagelinks li a{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: darkblue;
    
}

.pagelinks li a:visited{
    color: darkblue;
}
